*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #25242c;
    max-width: 100vw;
    position: relative;
    font-size: 16px;
}

h4{
    font-size: 1.875rem;
    font-weight: 300;
}

p{
    line-height: 1,75rem;
}

header, #contact-content, footer{
    padding: 0 2%;
}

    /*header*/
header{
    height: 550px;
    /*background-image: url('./images/circle.png'), url('./images/triangle.png');
    background-repeat: no-repeat;*/
    
}

#logo-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 0;
}
.logo-img{
    width: 180px;
}

.nav{
    display: flex;
    list-style: none;
}

nav li a{
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 30px;
    padding: 3px 0;
    border: 2px solid transparent;
    color: #25242c;
    font-weight: 500;
}

nav li a:hover{
	border-bottom: 3px solid #F8650A;
	transition: border-bottom 0.1s, color 0.1s;
}

.active{
    font-weight: 600;
    border-bottom: 3px solid #F8650A;
}
.circle{
    height: 350px;
    width: 350px;  
    border-radius: 50%;
    background: rgb(246,24,18);
    background: linear-gradient(37deg, rgba(246,24,18,1) 0%, 
        rgba(253,29,29,1) 46%, rgba(248,101,10,1) 100%);
    position: absolute;
    top: -15px;
    right: 32%;
    -webkit-box-shadow: 35px 24px 88px -21px rgba(246,24,18,0.8);
-moz-box-shadow: 35px 24px 88px -21px rgba(246,24,18,0.8);
box-shadow: 35px 24px 88px -21px rgba(246,24,18,0.8);
}

.triangle{
    transform: rotate(190deg);
    position: absolute;
    top: 160px;
    right: -5px;
    width: 22%;
}
.semi{
    position: absolute;
    transform: rotate(40deg);
    top: 120px;
    right: 32%;
    width: 10%;
}

.triangle:hover{
        transition: 0.20s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}

.teaser-text{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 200px;
    height: 200px;
    width: 50%;   
}

.teaser-text p{
    margin-top: 50px;
}
/*end header*/

    /*main section*/
#contact-content{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#contact-data{
    width: 35%; 
    text-align: right;
    display: flex;
    flex-direction: column;
    background: bisque;
    margin: auto 0;
    align-content: space-between;
    align-self: center;
    padding: 30px 150px 30px 0;
}

#contact-data h4{
    margin-bottom: 20px;
}

#contact-data p{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

#address-map{
    width: 30%; 
    height: 460px;
    position: absolute;
    top: 90px;
    right: 40%;
    -webkit-box-shadow: 4px -2px 8px -3px rgba(37,36,44,1);
    -moz-box-shadow: 4px -2px 8px -3px rgba(37,36,44,1);
    box-shadow: 4px -2px 8px -3px rgba(37,36,44,1);
}

#contact-form{
    width: 55%;
    padding: 100px 30px 110px 250px;
    background: #F5f5f5;
    display: flex;
    flex-direction: column;    
    align-content: space-between;
    font-weight: 300;
}

label{
    align-self: center;
    font-size: 0.875rem;
    font-weight: 400;
}

.field-message label{
    align-self: flex-start;
}

input, textarea{
    border: none;
    height: 30px;
    width: 75%;
    background: #f5f5f5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
input[type=number]{
    -moz-appearance: textfield;
  }

.field-style{
    border-bottom: 1px solid black;
    margin: 15px 0;
    display: flex;
    justify-content: space-between
}

#message{
    height: 180px;
    padding-top: 0.313rem;
}

#form-button{
    border: none;
    border-radius: 16px;
    background-color: #1aba5b;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400;
    width: 40%;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

#form-button:hover{
    color: #F1F2F1;
    background-color: #009D2B;
}
 /*main section*/



    /*footer*/
footer{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    height: 100px;
}

.content-footer-list{
    align-self: center;
}

.footer-col{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer-col li{
    list-style: none;
    margin: 0;
}

.footer-col li a{
    padding: 0 25px;
    font-size: 1.125rem; 
}

.footer-col a{
    text-decoration: none;
}

.footer-col a:hover{
}

.footer-logo{
    align-self: center;
}

.footer-logo:hover{
 }

.img-logo {
    width: 65%;
}

.network-icons{
    width: 30px;
    height: 30px;
}

.network-icons:hover{
   /* filter: invert(80);*/
   filter: brightness(0.7);
}

.biger{
    width: 40px;
    height: 40px; 
}

.links-social-network{
    display: flex;
    flex-direction: column;
}

.links-social-network p{
    font-size: 1.125rem; 
    font-weight: lighter;
}

.social-list{
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list li{
    margin: 0;
    padding: 0 15px 0 0;
}

.social-list li a{
    padding: 5px 20px;
}

.social-list li a:nth-child(1){
    padding-left: 0px;
}
.social-list li a:last-child{
    padding-right: 0px;
}

/*--End Footer section --*/

}/*end header*/